<div class="page">
  <section class="card">
    <div class="card-header">
      NgChat
    </div>
    <div class="card-body">
      <ng-container *ngFor="let comment of comments">
      <div class="media">
        <!--current_user.uidとcomment.user.uidが等しくない場合に表示-->
        <div class="media-left" *ngIf="comment.user.uid !== currentUser.uid">
          <a href="#" class="icon-rounded">{{comment.initial}}</a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{comment.user.name}} Date:2016/09/01</h4>
          <div>{{comment.content}}</div>
        </div>
        <!--current_user.uidとcomment.user.uidが等しい場合に表示-->
        <div class="media-right" *ngIf="comment.user.uid === currentUser.uid">
          <a href="#" class="icon-rounded">{{comment.initial}}</a>
        </div>
      </div>
      <hr>
      </ng-container>
    </div>
  </section>

  <section>
    <form class="chart-form" (submit)="addComment(content)"><!--addComment()を追加-->
      <div class="input-group">
        <input type="text" class="form-control"
               [(ngModel)]="content"
               name="comment"
               placeholder="Comment" />
        <div class="input-group-append">
          <button class="btn btn-info" type="submit">SEND</button><!--submitに変更-->
        </div>
      </div>
    </form>
  </section>
</div>
