<div class="page">
  <section class="card">
    <form class="form-signup">
      <h2 class="form-signup-heading">アカウント作成</h2>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <label for="confirmationPassword" class="sr-only">Password</label>
      <input type="password" id="confirmationPassword" class="form-control" placeholder="Password Confirmation" required>
      <button class="btn btn-lg btn-success btn-block" type="submit">SIGN UP</button>
    </form>
    <a routerLink="/account/login"class="signup-link">ログインする</a>
  </section>
</div>
